<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar">
      <h1>This is my super nice navbar</h1>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <h2>This is an even more awesome footer</h2>
    </div>

  </body>
  </html>
